//SLIDE TRANSITION MIXINS

//Slide enter
@mixin slide-enter ($x-axis, $y-axis) {
	opacity: 0;
  transform:   translate($x-axis,$y-axis);
  transform: translate3d($x-axis,$y-axis,0);
}

//Slide enter active
@mixin slide-enter-active ($speed) {
	opacity: 1;
	transition: opacity 1s ease;
	transform:   translate(0,0);
	transform: translate3d(0,0,0);
	transition-property: transform, opacity;
	transition-duration: $speed;
	transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
}

@mixin slide-leave ($speed) {
	opacity: 1;
	transform:   translate(0,0,0);
	transform: translate3d(0,0,0);
  transition-property: transform, opacity;
	transition-duration: $speed;
	transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
}

@mixin slide-leave-active ($x-axis, $y-axis) {
	opacity: 0;
	transform:   translate($x-axis, $y-axis);
	transform: translate3d($x-axis, $y-axis, 0);
}
