// ** ===== IMAGE CAROUSEL STYLES ===== ** //
.carousel-image-container {
  position: relative;
  height: 420px;
  width: auto;
}

.carousel-image {
  height: 400px;
  width: auto;
  display: block;
  margin: 0 auto 15px;
  position: absolute;
  left: 0;
  right: 0;
}

.dot-wrap {
  width: 30%;
  margin: 0 auto;
  text-align: center;
}

.dot {
  cursor: pointer;
  margin: 0 5px 10px;
  color: $dot-background-color;
  &.active {
    color: lighten($dot-background-color, 30%);
  }
}

.carousel-button {
  cursor: pointer;
  width: 30%;
  display: inline;
  &.back {
    float: left;
    text-align: left;
  }
  &.fwd {
    float: right;
    text-align: right;
  }
}
