.mobile-nav-wrap {
  display: flex;
  justify-content: flex-end;
}

.nav {
  display: flex;
  justify-content: center;
  li {
    list-style-type: none;
    padding: 10px;
  }
  a {
    text-decoration: none;
    color: black;
  }
  .active {
    font-weight: bold;
  }
}

.mobile-nav {
  .nav {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}

.hamburger {
  display: inline-block;
  cursor: pointer;
  padding: 10px;
  div {
    width: 25px;
    height: 2px;
    background-color: #333;
    margin: 4px 0;
    transition: 0.4s ease;
  }
  &.change {
    /* Rotate first bar */
    .bar1 {
      -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
      transform: rotate(-45deg) translate(-4px, 5px) ;
    }
    .bar2 {
      /* Fade out the second bar */
      opacity: 0;
    }
    .bar3 {
      /* Rotate last bar */
      -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
      transform: rotate(45deg) translate(-3.5px, -5px) ;
    }
  }
}
