@import 'verticalSlide';
@import 'settings';

// ** ===== NAV STYLES ===== ** //
.nav {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  li {
    list-style-type: none;
    padding: 10px;
  }
  a {
    text-decoration: none;
    color: $link-color;
    font-family: $oswald;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 2.5em;
  }
  .active {
    font-weight: bold;
  }
}

// ** === FULL SIZE NAV STYLES === ** //
.full-nav {
  padding: 0 20px 0 0;
}

// ** === MOBILE NAV STYLES === ** //
.mobile-nav-wrap {
  display: flex;
  justify-content: flex-end;
}

.mobile-nav {
  .nav {
    flex-direction: column;
    text-align: center;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.9);
    justify-content: flex-start;
    padding: 10% 0 0 0;
    li {
      margin: 5%;
    }
    a {
      font-size: 20px;
      text-transform: uppercase;
    }
  }
}

.hamburger {
  display: inline-block;
  cursor: pointer;
  padding: 10px;
  div {
    width: 25px;
    height: 2px;
    background-color: #333;
    margin: 4px 0;
    transition: 0.4s ease;
  }
  &.change {
    /* Rotate first bar */
    .bar1 {
      -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
      transform: rotate(-45deg) translate(-4px, 5px) ;
    }
    .bar2 {
      /* Fade out the second bar */
      opacity: 0;
    }
    .bar3 {
      /* Rotate last bar */
      -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
      transform: rotate(45deg) translate(-3.5px, -5px) ;
    }
  }
}
