.portfolio-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  //Column Grid Display Styles
  // display: grid;
  // justify-items: center;
  // grid-gap: 40px;
  // grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.portfolio-item {
  text-align: center;
  margin: 20px;
  padding: 0;
  // box-shadow: 1px 1px 10px 1px $link-color;
  overflow: hidden;
  transition: all 0.2s ease;
  &:hover {
    opacity: 0.7;
  }
}

.portfolio-item-wrap {
  width: 250px;
  p {
    color: $link-color;
    text-transform: uppercase;
  }
}

@media only screen and (min-width: 1100px) {
  .portfolio-grid {
    padding: 0 40px;
  }
  .portfolio-item-wrap {
    width: 450px;
  }
}
/* Large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .portfolio-grid {
    padding: 0 100px;
  }
}
