// ** ===== COLORS ===== ** //

//Form Colors
$form-border-color: rgba(0, 0, 0, 0.43);
$form-text-color: #333;
$placeholder-color: #909090;
$focus-background-color: #fafafa;
$error-border-color: #CC0000;
$error-background-color: #FFEEEE;

//Button Colors
$button-text-color: #e6e6e6;
$button-background-color: #0a0a0a;

//Alert Colors
$alert-success-color: #3C763D;
$alert-success-border-color: #d0e9c6;
$alert-success-background-color: #DFF0D8;

$alert-error-color: #A94442;
$alert-error-border-color: #ebcccc;
$alert-error-background-color: #f2dede;
