@import "http://webfonts.ru/import/notcourier.css";
@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Open+Sans:400italic,700italic,400,700|family=Oswald:300,400,600);
.right-slide-enter {
  opacity: 0;
  transform: translate(250px, 0);
  transform: translate3d(250px, 0, 0); }

.right-slide-enter.right-slide-enter-active {
  opacity: 1;
  transition: opacity 1s ease;
  transform: translate(0, 0);
  transform: translate3d(0, 0, 0);
  transition-property: transform, opacity;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.175, 0.665, 0.32, 1), linear; }

.right-slide-leave {
  opacity: 1;
  transform: translate(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transition-property: transform, opacity;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.175, 0.665, 0.32, 1), linear; }

.right-slide-leave.right-slide-leave-active {
  opacity: 0;
  transform: translate(-250px, 0);
  transform: translate3d(-250px, 0, 0); }

.left-slide-enter {
  opacity: 0;
  transform: translate(-250px, 0);
  transform: translate3d(-250px, 0, 0); }

.left-slide-enter.left-slide-enter-active {
  opacity: 1;
  transition: opacity 1s ease;
  transform: translate(0, 0);
  transform: translate3d(0, 0, 0);
  transition-property: transform, opacity;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.175, 0.665, 0.32, 1), linear; }

.left-slide-leave {
  opacity: 1;
  transform: translate(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transition-property: transform, opacity;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.175, 0.665, 0.32, 1), linear; }

.left-slide-leave.left-slide-leave-active {
  opacity: 0;
  transform: translate(250px, 0);
  transform: translate3d(250px, 0, 0); }

.vertical-slide-enter {
  opacity: 0;
  transform: translate(0, -250px);
  transform: translate3d(0, -250px, 0); }

.vertical-slide-enter.vertical-slide-enter-active {
  opacity: 1;
  transition: opacity 1s ease;
  transform: translate(0, 0);
  transform: translate3d(0, 0, 0);
  transition-property: transform, opacity;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.175, 0.665, 0.32, 1), linear; }

.vertical-slide-leave {
  opacity: 1;
  transform: translate(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transition-property: transform, opacity;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.175, 0.665, 0.32, 1), linear; }

.vertical-slide-leave.vertical-slide-leave-active {
  opacity: 0;
  transform: translate(0, -250px);
  transform: translate3d(0, -250px, 0); }

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0; }

*,
*:before,
*:after {
  box-sizing: border-box; }

h1 {
  font-family: "NotCourierSans";
  font-size: 20px;
  text-align: center;
  color: #333;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1;
  margin: 7% auto; }

li {
  list-style-type: none; }

ul {
  padding: 0; }

.container {
  max-width: 95%;
  margin: 0 auto; }

.text-center {
  text-align: center; }

.img-responsive {
  max-width: 100%;
  height: auto; }

.copy-wrap {
  padding: 0 10%; }
  .copy-wrap p {
    text-indent: 15px; }

.button {
  color: #e6e6e6;
  background: #0a0a0a;
  border: none;
  font-size: 16px;
  border-radius: 3px;
  width: 200px;
  text-align: center;
  display: block;
  padding: 7px 0;
  margin: 10px auto; }
  .button:hover {
    cursor: pointer; }
  .button:active {
    transform: translateY(1px); }
  .button.disabled {
    cursor: no-drop;
    background: #8a8a8a; }

.alert {
  width: 100%;
  border: 1px solid black;
  color: black;
  font-weight: bold; }
  .alert.success {
    color: #3C763D;
    background-color: #DFF0D8;
    border-color: #d0e9c6; }
  .alert.error {
    color: #A94442;
    background-color: #f2dede;
    border-color: #ebcccc; }
  .alert p {
    text-align: center; }

.nav {
  display: flex;
  justify-content: flex-end;
  margin: 0; }
  .nav li {
    list-style-type: none;
    padding: 10px; }
  .nav a {
    text-decoration: none;
    color: #999;
    font-family: "Oswald", sans-serif;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 2.5em; }
  .nav .active {
    font-weight: bold; }

.full-nav {
  padding: 0 20px 0 0; }

.mobile-nav-wrap {
  display: flex;
  justify-content: flex-end; }

.mobile-nav .nav {
  flex-direction: column;
  text-align: center;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.9);
  justify-content: flex-start;
  padding: 10% 0 0 0; }
  .mobile-nav .nav li {
    margin: 5%; }
  .mobile-nav .nav a {
    font-size: 20px;
    text-transform: uppercase; }

.hamburger {
  display: inline-block;
  cursor: pointer;
  padding: 10px; }
  .hamburger div {
    width: 25px;
    height: 2px;
    background-color: #333;
    margin: 4px 0;
    transition: 0.4s ease; }
  .hamburger.change {
    /* Rotate first bar */ }
    .hamburger.change .bar1 {
      -webkit-transform: rotate(-45deg) translate(-9px, 6px);
      transform: rotate(-45deg) translate(-4px, 5px); }
    .hamburger.change .bar2 {
      /* Fade out the second bar */
      opacity: 0; }
    .hamburger.change .bar3 {
      /* Rotate last bar */
      -webkit-transform: rotate(45deg) translate(-8px, -8px);
      transform: rotate(45deg) translate(-3.5px, -5px); }

.form-wrap {
  padding: 5%; }

.form-label fieldset {
  margin: 0;
  padding: 0;
  border: 0; }
.form-label input {
  height: 2.5em; }
.form-label textarea {
  height: 9em; }
.form-label input,
.form-label textarea {
  display: block;
  width: 100%;
  padding: 4px 8px;
  margin: 10px 0 20px 0;
  border: 1px solid rgba(0, 0, 0, 0.43);
  border-radius: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  color: #333;
  outline: 0;
  appearance: none;
  transition: all 0.2s ease-in-out; }
  .form-label input.error, .form-label input.error:focus, .form-label input.error:active,
  .form-label textarea.error,
  .form-label textarea.error:focus,
  .form-label textarea.error:active {
    background: #FFEEEE; }
.form-label fieldset {
  position: relative; }
  .form-label fieldset:first-child input {
    border-radius: 0; }
  .form-label fieldset:last-child input {
    border-radius: 0; }
.form-label label {
  position: absolute;
  top: 24px;
  left: 8px;
  color: #909090;
  transform: translate3d(0, 0, 0);
  transition: all 0.2s ease-in-out; }

.form-label input[data-empty="false"], .form-label input:valid, .form-label input:focus,
.form-label textarea[data-empty="false"],
.form-label textarea:valid,
.form-label textarea:focus {
  padding: 7px 8px 6px; }
.form-label input:focus,
.form-label textarea:focus {
  outline: 0;
  background-color: #fafafa; }
.form-label input[data-empty="false"] + label, .form-label input:valid + label, .form-label input:focus + label,
.form-label textarea[data-empty="false"] + label,
.form-label textarea:valid + label,
.form-label textarea:focus + label {
  color: #333;
  font-weight: 700;
  font-size: 12px;
  transform: translate3d(-7px, -32px, 0); }

.portfolio-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.portfolio-item {
  text-align: center;
  margin: 20px;
  padding: 0;
  overflow: hidden;
  transition: all 0.2s ease; }
  .portfolio-item:hover {
    opacity: 0.7; }
  .portfolio-item a {
    text-decoration: none; }

.portfolio-item-wrap {
  width: 250px; }
  .portfolio-item-wrap p {
    color: #999;
    text-transform: uppercase; }

@media only screen and (min-width: 1100px) {
  .portfolio-grid {
    padding: 0 40px; }

  .portfolio-item-wrap {
    width: 450px; } }
/* Large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .portfolio-grid {
    padding: 0 100px; } }
.carousel-image-container {
  position: relative;
  height: 420px;
  width: auto; }

.carousel-image {
  height: 400px;
  width: auto;
  display: block;
  margin: 0 auto 15px;
  position: absolute;
  left: 0;
  right: 0; }

.dot-wrap {
  width: 30%;
  margin: 0 auto;
  text-align: center; }

.dot {
  cursor: pointer;
  margin: 0 5px 10px;
  color: rgba(0, 0, 0, 0.43); }
  .dot.active {
    color: rgba(77, 77, 77, 0.43); }

.carousel-button {
  cursor: pointer;
  width: 30%;
  display: inline; }
  .carousel-button.back {
    float: left;
    text-align: left; }
  .carousel-button.fwd {
    float: right;
    text-align: right; }

/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  h1 {
    margin: 4% auto; } }
/* Large devices (large desktops, 1200px and up) */
/* Xtra Large devices (Xlarge desktops, 1500px and up) */

/*# sourceMappingURL=main.css.map */
